.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;

    &:hover{
      cursor: pointer;
    }
  }
}

.router-container {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768) {
  .router-container {
    height: calc(100vh - 72px);
  }
}
