.header {
  height: calc(100vh - 56px);
  // background-color: red;

  .navbar {
    a {
      color: white;
      text-decoration: none;
    }
  }

  .router-container {
    margin-top: 56px;
    height: 100%;
    // background-color: yellow;
    overflow-y: auto;
  }
}
