.header {
  height: calc(100vh - 56px);

  .navbar {
    a {
      color: white;
      text-decoration: none;
    }

    h5{
      color: red;
    }
  }

  .router-container {
    margin-top: 56px;
    height: 100%;
    overflow-y: auto;
  }
}
