<ng-container
  *ngIf="{
    failedLogin: failedLogin$ | async
  } as vm"
>
  <div class="form">
    <p class="login-title">Prijava</p>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Lozinka</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Prijava</button>
    </form>
  </div>
  <div class="alert" *ngIf="vm.failedLogin">
    Email adresa ili šifra nisu pravilno uneti
  </div>
</ng-container>
