<form [formGroup]="addForm" (ngSubmit)="addProblem()">
  <h2>Novi problem</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Problem</mat-label>
    <input matInput formControlName="problem_name" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Opis</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Prostorija</mat-label>
    <input matInput formControlName="room" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Komentar</mat-label>
    <textarea matInput formControlName="comment"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Izmeni problem</button>
</form>
